<div class="app-page to-do__page">
  <div class="to-do__panel">
    <div class="to-do__panel__header">
      <h3 class="title">To Do</h3>
      <div class="controls">
        <span
          class="toggle-completed-button"
          *ngIf="!showCompleted"
          (click)="onShowCompletedClick(true)"
        >
          Show Completed
        </span>
        <span
          class="toggle-completed-button"
          *ngIf="showCompleted"
          (click)="onShowCompletedClick(false)"
        >
          Hide Completed
        </span>
      </div>
    </div>
    <div class="to-do__panel__body">
      <div class="to-do__panel__row" *ngFor="let item of items; index as i">
        <div
          class="circle-wrapper"
          *ngIf="item.isComplete === 'no'"
          (click)="onToggleItemClick(item._id, 'yes')"
        >
          <i class="icon--circle open far fa-circle"></i>
        </div>
        <div
          class="circle-wrapper"
          *ngIf="item.isComplete === 'yes'"
          (click)="onToggleItemClick(item._id, 'no')"
        >
          <i class="icon--circle closed fa fa-check-circle"></i>
        </div>
        <span *ngIf="!item.edit" class="text">{{ item.name }}</span>
        <input
          *ngIf="item.edit"
          class="input--material edit-text"
          type="text"
          [(ngModel)]="item.name"
          (keyup.enter)="saveItem(item)"
          pInputText
        />
        <div class="controls">
          <i
            *ngIf="!item.edit"
            class="icon--edit fa fa-edit"
            (click)="editItem(item)"
          ></i>
          <i
            *ngIf="!item.edit"
            class="icon--delete fa fa-trash"
            (click)="deleteItem(item)"
          ></i>
          <i
            *ngIf="item.edit"
            class="icon--save fa fa-save"
            (click)="saveItem(item)"
          ></i>
          <i
            *ngIf="item.edit"
            class="icon--cancel fa fa-minus-circle"
            (click)="cancelItem(item)"
          ></i>
        </div>
      </div>
    </div>
    <div class="to-do__panel__footer">
      <div
        [ngClass]="{ disable: updating }"
        class="add-button"
        (click)="addItem()"
      >
        <i class="fa fa-plus"></i>
        <span>Add</span>
      </div>
    </div>
  </div>
</div>
