<div class="app-page contact-form__page">
  <div class="contact-form__content">
    <div class="contact-form__body">
      <div class="list-box">
        <p-paginator
          [rows]="contactParams.limit"
          [first]="contactParams.skip"
          [totalRecords]="totalContacts"
          [pageLinkSize]="3"
          (onPageChange)="paginate($event)"
        ></p-paginator>
        <div class="search">
          <i class="search-icon fa fa-search"></i>
          <input
            type="text"
            pInputText
            (keyup)="search()"
            [(ngModel)]="searchText"
          />
        </div>
        <p-listbox
          [options]="contacts"
          [(ngModel)]="selectedContact"
          optionLabel="full_name"
          (onChange)="selectContact($event)"
        ></p-listbox>
        <div class="loader" *ngIf="loadingContacts">
          <div class="background"></div>
          <div class="message">
            <span>Loading...</span>
            <p-progressSpinner></p-progressSpinner>
          </div>
        </div>
      </div>
      <div class="form">
        <div class="grid">
          <div class="row top">
            <div class="col col-75">
              <div class="controls">
                <button
                  pButton
                  *ngIf="!editing && !adding"
                  label="New Contact"
                  class="ui-button-success"
                  (click)="addContact()"
                ></button>
                <button
                  pButton
                  *ngIf="!editing && !adding && contactSelected"
                  label="Clear"
                  (click)="clearSelected()"
                ></button>
                <button
                  pButton
                  *ngIf="!editing && !adding && contactSelected"
                  label="Edit Contact"
                  (click)="editContact()"
                ></button>
                <button
                  pButton
                  *ngIf="!editing && !adding && contactSelected"
                  label="Delete contact"
                  (click)="deleteContact()"
                ></button>
                <button
                  pButton
                  *ngIf="editing || adding"
                  label="Cancel"
                  (click)="cancel()"
                ></button>
                <button
                  pButton
                  *ngIf="editing || adding"
                  label="Save"
                  (click)="saveContact()"
                ></button>
              </div>
            </div>
            <div class="col col-25 pull-right">
              <span class="message">{{ message }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="form-control">
                <label for="firstName">First Name</label>
                <input
                  [readonly]="!editing && !adding"
                  type="text"
                  pInputText
                  [(ngModel)]="selectedContact.first_name"
                />
              </span>
            </div>
            <div class="col">
              <span class="form-control">
                <label>Last Name</label>
                <input
                  [readonly]="!editing && !adding"
                  type="text"
                  pInputText
                  [(ngModel)]="selectedContact.last_name"
                />
              </span>
            </div>
            <div class="col">
              <span class="form-control">
                <label>DOB</label>
                <input
                  *ngIf="!editing"
                  [readonly]="!adding"
                  type="text"
                  pInputText
                  [(ngModel)]="selectedContact.prettyDate"
                />
                <input
                  *ngIf="editing"
                  type="text"
                  pInputText
                  [(ngModel)]="selectedContact.dob"
                />
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col col-66">
              <span class="form-control">
                <label>Email</label>
                <input
                  [readonly]="!editing && !adding"
                  type="text"
                  pInputText
                  [(ngModel)]="selectedContact.email"
                />
              </span>
            </div>
            <div class="col col-33">
              <span class="form-control">
                <label>Phone</label>
                <input
                  [readonly]="!editing && !adding"
                  type="text"
                  pInputText
                  [(ngModel)]="selectedContact.phone"
                />
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col col-50">
              <span class="form-control">
                <label>Street Address</label>
                <input
                  [readonly]="!editing && !adding"
                  type="text"
                  pInputText
                  [(ngModel)]="selectedContact.address"
                />
              </span>
            </div>
            <div class="col col-25">
              <span class="form-control">
                <label>City</label>
                <input
                  [readonly]="!editing && !adding"
                  type="text"
                  pInputText
                  [(ngModel)]="selectedContact.city"
                />
              </span>
            </div>
            <div class="col col-25">
              <span class="form-control">
                <label>State</label>
                <input
                  [readonly]="!editing && !adding"
                  type="text"
                  pInputText
                  [(ngModel)]="selectedContact.state"
                />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
