<div class="app-page wine-review__page">
  <div class="wine-review__content">
    <p-virtualScroller
      #vs
      scrollHeight="100%"
      [value]="wines"
      [itemSize]="150"
      [rows]="virtualScrollerRows"
      [lazy]="true"
      (onLazyLoad)="loadWinesDebounce($event)"
    >
      <p-header>
        <div class="loader" *ngIf="loading">
          <div class="backdrop"></div>
          <div class="loader-content">
            <span>Loading...</span>
            <p-progressSpinner></p-progressSpinner>
          </div>
        </div>
        <div class="header grid">
          <div class="row">
            <div class="col col-25 slider-control price-control">
              <label>Price ({{ priceRange[0] }} - {{ priceRange[1] }})</label>
              <p-slider
                [(ngModel)]="priceRange"
                [range]="true"
                [min]="0"
                [max]="3300"
                (onSlideEnd)="priceRangeChanged()"
              >
              </p-slider>
            </div>
            <div class="col col-25 slider-control points-control">
              <label>Points ({{ pointRange[0] }} - {{ pointRange[1] }})</label>
              <p-slider
                [(ngModel)]="pointRange"
                [range]="true"
                [min]="87"
                [max]="100"
                (onSlideEnd)="priceRangeChanged()"
              >
              </p-slider>
            </div>
            <div class="col col-25"></div>
            <div class="col col-25"></div>
          </div>
          <div class="row">
            <div class="col col-25">
              <p-autoComplete
                [(ngModel)]="varietyText"
                [suggestions]="filteredVarieties"
                field="variety"
                [size]="30"
                placeholder="Variety"
                [minLength]="1"
                [delay]="200"
                [dropdown]="true"
                (keyup)="varietiesKeyUp($event)"
                (onSelect)="loadWinesDebounce()"
                (completeMethod)="filterVarieties()"
              >
              </p-autoComplete>
            </div>
            <div class="col col-25">
              <p-autoComplete
                #countryDropdown
                [(ngModel)]="countryText"
                [suggestions]="filteredCountries"
                autocomplete="off"
                field="country"
                [size]="30"
                placeholder="Country"
                [minLength]="1"
                [delay]="200"
                [dropdown]="true"
                (keyup)="countriesKeyUp($event)"
                (onSelect)="loadWinesDebounce()"
                (completeMethod)="filterCountries()"
              >
              </p-autoComplete>
            </div>
            <div class="col col-50">
              <div class="sort-by">
                <label> Sort By: </label>
                <p-dropdown
                  class="sort-by-dd"
                  [options]="sortByOptions"
                  [(ngModel)]="sortBy"
                  (onChange)="loadWinesDebounce()"
                  optionLabel="label"
                ></p-dropdown>
                <div class="sort-dir-toggle">
                  <div
                    class="sort-dir-item"
                    *ngIf="sortByDir === orderDirections.ASC"
                  >
                    <button
                      pButton
                      type="button"
                      icon="fa fa-arrow-up"
                      (click)="toggleSortDir()"
                    ></button>
                  </div>
                  <div
                    class="sort-dir-item"
                    *ngIf="sortByDir === orderDirections.DESC"
                  >
                    <button
                      pButton
                      type="button"
                      icon="fa fa-arrow-down"
                      (click)="toggleSortDir()"
                    ></button>
                  </div>
                </div>
              </div>
              <div class="clear">
                <button
                  pButton
                  label="Clear Filters"
                  (click)="reset()"
                ></button>
              </div>
            </div>
          </div>
          <div class="row info-bar">
            <div class="col">
              <label>Total Wines: </label>
              <span>{{ loading ? 'Loading...' : (totalWines | number) }}</span>
            </div>
          </div>
        </div>
      </p-header>
      <ng-template let-wine pTemplate="item" let-i="index">
        <div class="item__header">
          <div class="item__header__value price">${{ wine.price }}</div>
          <div class="item__header__value points">
            Points: {{ wine.points }}
          </div>
          <div class="item__header__value title">
            {{ wine.title }}
          </div>
        </div>
        <div class="item__body grid">
          <div class="row">
            <div class="col">
              <label> Variety: </label>
              <span>
                {{ wine.variety }}
              </span>
            </div>
            <div class="col">
              <label> Winery: </label>
              <span>
                {{ wine.winery }}
              </span>
            </div>
            <div class="col">
              <label> Country: </label>
              <span>
                {{ wine.country }}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label> Description: </label>
              <span>
                {{ wine.description }}
              </span>
            </div>
          </div>
        </div>
      </ng-template>
    </p-virtualScroller>
  </div>
</div>
